## Library importing

In [27]:
# !pip install pymongo[srv]
import pymongo

## Connecting with mongoDB

In [28]:
client = pymongo.MongoClient(
    "mongodb+srv://mongodb:ru15070610@cluster0.4olre.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [30]:
client.list_database_names()

['admin', 'local']

## Creating database and collection in mongoDB

In [31]:
# Creating database
connection = client['first_database']

In [32]:
# Creating collections
db1 = connection['first']

## Insetion in mongoDB

In [33]:
value = [{"name": "gokul",
          "sirname": "padmule",
          "mobile": 7777705669,
          "college": "AISS",
          "city": "pune",
          "language": "None",
          "domain": "core job",
          "hobby": "Movies",
          "package": "3.5lpa"
          },
         {"name": "rutvik",
          "sirname": "jaiswal",
          "mobile": 9673913738,
          "college": "BITS",
          "city": "goa",
          "language": "python",
          "domain": "data science",
          "hobby": "codding",
          "package": "12lpa"
          },
         {"name": "prasad",
          "sirname": "chavan",
          "mobile": 84569315,
          "college": "aissm",
          "city": "kolhapur",
          "language": "python",
          "domain": "any",
          "hobby": "Cricket",
          "package": "3.6lpa"
          },
         {"name": "ketan",
          "sirname": "sawakare",
          "mobile": 9685693156,
          "college": "ioit",
          "city": "mumbai",
          "language": "c",
          "domain": "core job",
          "hobby": "painting",
          "package": "3.3lpa"
          },
         ]
value1 = {"name":"pratik",
           "sirname":"jaiswal",
          "mobile": 845639526,
          "college": "dy patil,pimpri",
          "city": "pune",
          "language": "c++",
          "domain": "Govt job",
          "hobby": "raiding",
          "package": "8lpa"}

In [44]:
list1 = [
        {
            "item": "canvas",
            "qty": 100,
            "size": {"h": 28, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mat",
            "qty": 85,
            "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mousepad",
            "qty": 25,
            "size": {"h": 19, "w": 22.85, "uom": "cm"},
            "status": "P",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "P",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketchbook",
            "qty": 80,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketch pad",
            "qty": 95,
            "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
            "status": "A",
        },
    ]

In [47]:
db1.insert_many(list1)

## Find query

In [50]:
for i in db1.find({'item':"notebook"}):
    print(i)

{'_id': ObjectId('620b3f76d7250f1f4479aee7'), 'item': 'notebook', 'qty': 250, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}

## Update query

In [49]:
db1.update_many({'item':"notebook"},{"$set":{"qty":250}})

In [38]:
db1.update_many({"name":"rutvik","package":"12lpa"},{"$set":{"name":"Rutvik","package":1200000}})

In [42]:
for data in db1.find():
    print(str(data['name'])+" : "+str(data['package']))

gokul : 3.5lpa
Rutvik : 1200000
prasad : 3.6lpa
ketan : 3.3lpa
pratik : 8lpa