## Library

In [1]:
import mysql.connector as con
import pandas as pd

## Query connection

In [2]:
try:
    mydb = con.connect(host = 'localhost',user = 'root',passwd ='ru15070610',database = 'glass_set')
    query = 'DESCRIBE glass_value'
    cur = mydb.cursor()
    cur.execute(query)
    print(cur.fetchall())
    # print(mydb)
except Exception as e:
    print(e)

[('col1', b'int', 'YES', '', None, ''), ('col2', b'float(10,5)', 'YES', '', None, ''), ('col3', b'float(10,5)', 'YES', '', None, ''), ('col4', b'float(10,5)', 'YES', '', None, ''), ('col5', b'float(10,5)', 'YES', '', None, ''), ('col6', b'float(10,5)', 'YES', '', None, ''), ('clo7', b'float(10,5)', 'YES', '', None, ''), ('col8', b'float(10,5)', 'YES', '', None, ''), ('col9', b'float(10,5)', 'YES', '', None, ''), ('col10', b'float(10,5)', 'YES', '', None, ''), ('col11', b'int', 'YES', '', None, '')]

## Checking query

In [3]:
try:
    mydb = con.connect(host = 'localhost',user = 'root',passwd ='ru15070610',database = 'glass_set')
    query = 'select * from glass_value where col1 =1 or col2 =13.64'
    cur = mydb.cursor()
    cur.execute(query)
    for word in cur.fetchall():
        print(word)
    # print(mydb)
except Exception as e:
    print(e)

(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)

In [4]:
try:
    mydb = con.connect(host = 'localhost',user = 'root',passwd ='ru15070610',database = 'glass_set')
    query = 'select * from glass_value where col1 =1 '
    cur = mydb.cursor()
    cur.execute(query)
    for word in cur.fetchall():
        print(word)
    # print(mydb)
except Exception as e:
    print(e)

(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)

## Data Manipulation Language query

In [3]:
try:
    mydb = con.connect(host = 'localhost',user = 'root',passwd ='ru15070610',database = 'glass_set')
    query = 'UPDATE glass_value SET col2 =10.4,col5 = 2 where col1=1 '

    cur = mydb.cursor()
    cur.execute(query)
    mydb.commit()
    # print(mydb)
except Exception as e:
    print(e)

In [9]:
def take_query(query):
    try:
        mydb = con.connect(host = 'localhost',user = 'root',passwd ='ru15070610',database = 'glass_set')
        # query = 'UPDATE glass_value SET col2 =10.4,col5 = 2 where col1=1 '

        cur = mydb.cursor()
        cur.execute(query)
        # print(cur.fetchall())
        for word in cur.fetchall():
            print(word)
    except Exception as e:
        print(e)

In [6]:
query = 'Select col1,count(col1) from glass_value  group by col1 having count(col1) >1'
take_query(query)

[(1, 3)]

In [13]:
query = 'select * from glass_value where col1 in (Select col1 from glass_value group by col1 having count(col1)>1)'
take_query(query)

(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)

In [14]:
query = '(Select * from glass_value group by col1 having count(col1)>1)'
take_query(query)

(1, 10.4, 13.64, 4.49, 2.0, 71.78, 0.06, 8.75, 0.0, 0.0, 1)